In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-13.14.0-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.9 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-13.14.0

In [ ]:
from faker import Faker
import numpy as np
patientlist = []
listpatients = []
fake = Faker('nl_NL')
for i in range (0,1500):
  patient = Faker('nl_NL')
  gender = np.random.choice(["M", "F", "NB"], p=[0.49, 0.49, 0.02])
  if gender == "M":
    patient.firstname = fake.first_name_male 
  elif gender == "F":
    patient.firstname = fake.first_name_female
  else:
    patient.firstname = fake.first_name_nonbinary
  #Create a list with the needed information on the patient
  patientlist.append(patient.unique.ssn())
  patientlist.append(patient.unique.firstname())
  patientlist.append(patient.unique.last_name())
  patientlist.append(patient.unique.address())
  patientlist.append(patient.unique.date_of_birth())
  patientlist.append(gender)
  #Add the information to the list of patients
  listpatients.append(patientlist.copy())
  #clear the list for new patients
  patientlist.clear()
  i = i+1
for n in listpatients[0:30]:
  print(n)

['063589242', 'Ise', 'Spiker', 'Colinsingel 03\n7472 NF\nSchokland', datetime.date(1968, 4, 1), 'F']
['384517262', 'Brian', 'van Gorp', 'Yasminbaan 5\n7454 AB\nSchipborg', datetime.date(1921, 4, 17), 'M']
['761453982', 'Seth', 'de Heer', 'Evelienstraat 123\n5178DC\nOdiliapeel', datetime.date(1976, 5, 20), 'M']
['704962585', 'Demi', 'de Haas', 'Meesstraat 9\n1717OY\nZaandam', datetime.date(1956, 11, 4), 'F']
['401357892', 'Luna', 'van Formbach', 'Youssefdreef 1\n6154BQ\nWoudenberg', datetime.date(1964, 3, 5), 'F']
['214638091', 'Faye', 'Broeders', 'Simonsteeg 5\n4205OL\nOuderkerk aan de Amstel', datetime.date(1999, 1, 23), 'F']
['702413653', 'Joshua', 'Uphuis', 'Thijsdreef 49\n4262 NQ\nElp', datetime.date(1963, 5, 3), 'M']
['136942052', 'Ivy', 'Bloemendaal', 'Lotsteeg 37\n2401 AW\nEesergroen', datetime.date(1987, 2, 24), 'F']
['037618428', 'Bart', 'Opmans', 'Madeliefsteeg 13\n4061 YF\nElsendorp', datetime.date(2010, 5, 1), 'M']
['736852104', 'Selina', 'Nek', 'Hannaweg 122\n2526YS\nPietersbierum', datetime.date(1974, 7, 29), 'F']
['257034183', 'Rosa', 'de Smit', 'Emilysteeg 204\n4728 ZC\nBorculo', datetime.date(1987, 8, 27), 'F']
['650784194', 'Dylan', 'Louws', 'Maryamsteeg 98\n7398UB\nRhoon', datetime.date(1981, 11, 21), 'M']
['745310965', 'Jens', 'Kamper', 'Kayleighhof 1\n6071 NZ\nDodewaard', datetime.date(1920, 4, 20), 'M']
['538947019', 'Ayoub', 'van der Heijden', 'Zoëdreef 969\n1010 CN\nDomburg', datetime.date(1958, 3, 15), 'M']
['791453066', 'Floortje', 'Beijring', 'Jayring 812\n8998TP\nStroobos', datetime.date(1981, 5, 17), 'F']
['238051493', 'Lex', 'de Vroege', 'Koenbaan 86\n2480GZ\nZwammerdam', datetime.date(1994, 1, 26), 'M']
['842609374', 'Norah', 'Poncelet', 'Stellasteeg 523\n8057UH\nHerwijnen', datetime.date(1963, 12, 4), 'F']
['620478317', 'Luca', 'Haselaar', 'Fabiandreef 512\n8599 BX\nWommels', datetime.date(1999, 6, 4), 'M']
['429381608', 'Alyssa', 'van Verdun', 'Robinsingel 47\n7950GG\nVredenheim', datetime.date(2012, 12, 26), 'F']
['627941588', 'Evie', 'Wipstrik', 'Tessadreef 046\n1860SV\nLinschoten', datetime.date(1961, 6, 18), 'F']
['024736892', 'Boaz', 'Huberts', 'Noëllesteeg 9\n1734RN\nOdoorn', datetime.date(2016, 11, 21), 'M']
['789541233', 'Tijs', 'Willems van Lier', 'Tygoweg 36\n6695CB\nGeesbrug', datetime.date(1933, 12, 22), 'M']
['652487038', 'Thomas', 'de Swart', 'Aaronring 894\n1610XJ\nBroekhuizen', datetime.date(1965, 1, 6), 'M']
['736598017', 'Jip', 'Mens', 'Aliboulevard 400\n8781KS\nVeenoord', datetime.date(1924, 6, 21), 'M']
['976512804', 'Renske', 'van der Loo', 'Milanbaan 5\n6524 WR\nKerkdriel', datetime.date(1956, 11, 2), 'F']
['547918069', 'Bas', 'van Bovene', 'Svenring 12\n5904 RL\nFeanwâlden', datetime.date(1908, 6, 1), 'M']
['360147525', 'Hannah', 'Lagerweij', 'Mayastraat 11\n4808 UR\nOverslag', datetime.date(1953, 10, 6), 'F']
['419653077', 'Ceylin', 'Gerritsen', 'Julieboulevard 50\n2959YW\nMaastricht-Airport', datetime.date(1908, 3, 11), 'F']
['968432104', 'Elizabeth', 'van der Berg', 'Finndreef 365\n8599MQ\nAmbt Delden', datetime.date(2006, 12, 11), 'F']
['803416799', 'Catharina', 'van Goerle', 'Ameliastraat 70\n4945 UE\nWesteremden', datetime.date(2007, 8, 25), 'F']

In [ ]:
from faker import Faker
import numpy as np
GPlist = []
listGPs = []
#fake = Faker('nl_NL')
for i in range (0,30):
  GP = Faker('nl_NL')
  gender = np.random.choice(["M", "F", "NB"], p=[0.49, 0.49, 0.02])
  if gender == "M":
    GP.firstname = fake.first_name_male 
  elif gender == "F":
    GP.firstname = fake.first_name_female
  else:
    GP.firstname = fake.first_name_nonbinary
  #Create a list with the needed information on the GP
  GPlist.append(GP.unique.ssn())
  GPlist.append(GP.unique.firstname())
  GPlist.append(GP.unique.last_name())
  #GPlist.append(GP.unique.address())
  #GPlist.append(GP.unique.date_of_birth())
  GPlist.append(gender)
  listGPs.append(GPlist.copy())
  GPlist.clear()
  #print(GP.firstname(), GP.last_name(), GP.address(), GP.date_of_birth(),gender)
  i = i+1 
for n in listGPs[0:20]:
  print(n)

['470186537', 'Eliza', 'Bosch', 'F']
['701234891', 'Louise', 'Martens', 'NB']
['754930816', 'Esila', 'Rutten', 'F']
['769348129', 'Wout', 'Evers', 'M']
['794805218', 'Thomas', 'Haack', 'M']
['687529414', 'Elif', 'den Haag', 'F']
['571439627', 'Carlijn', 'Tirie', 'F']
['605981371', 'Esther', 'Driessen', 'F']
['386547099', 'Zakaria', 'Westerbeek', 'M']
['819430651', 'Bram', 'van de Biezenbos', 'M']
['870156299', 'Philip', 'van der Linden', 'M']
['792304810', 'Eline', 'Kort', 'F']
['152873090', 'Raf', 'Meyer', 'M']
['056217390', 'Suus', 'van Hagen', 'F']
['374582907', 'Evy', 'Kof', 'F']
['462038750', 'Bryan', 'Kuiper', 'M']
['516820473', 'Luke', 'Geldens', 'M']
['750193682', 'Arthur', 'Vervoort', 'M']
['195704630', 'Esila', 'Jacquot', 'F']
['715602895', 'Julian', 'van Praagh', 'M']

In [ ]:
import random
dataset1 = []
for i in range (0,1500):
  n = random.randint(0,len(listGPs)-1)
  doctor = listGPs[n]
  patient2 = listpatients[i]
  dataset1.append([patient2, doctor])
  i = i+1
for n in dataset1[0:30]:
  print(n)

[['063589242', 'Ise', 'Spiker', 'Colinsingel 03\n7472 NF\nSchokland', datetime.date(1968, 4, 1), 'F'], ['470186537', 'Eliza', 'Bosch', 'F']]
[['384517262', 'Brian', 'van Gorp', 'Yasminbaan 5\n7454 AB\nSchipborg', datetime.date(1921, 4, 17), 'M'], ['769348129', 'Wout', 'Evers', 'M']]
[['761453982', 'Seth', 'de Heer', 'Evelienstraat 123\n5178DC\nOdiliapeel', datetime.date(1976, 5, 20), 'M'], ['819430651', 'Bram', 'van de Biezenbos', 'M']]
[['704962585', 'Demi', 'de Haas', 'Meesstraat 9\n1717OY\nZaandam', datetime.date(1956, 11, 4), 'F'], ['870156299', 'Philip', 'van der Linden', 'M']]
[['401357892', 'Luna', 'van Formbach', 'Youssefdreef 1\n6154BQ\nWoudenberg', datetime.date(1964, 3, 5), 'F'], ['750193682', 'Arthur', 'Vervoort', 'M']]
[['214638091', 'Faye', 'Broeders', 'Simonsteeg 5\n4205OL\nOuderkerk aan de Amstel', datetime.date(1999, 1, 23), 'F'], ['750193682', 'Arthur', 'Vervoort', 'M']]
[['702413653', 'Joshua', 'Uphuis', 'Thijsdreef 49\n4262 NQ\nElp', datetime.date(1963, 5, 3), 'M'], ['750193682', 'Arthur', 'Vervoort', 'M']]
[['136942052', 'Ivy', 'Bloemendaal', 'Lotsteeg 37\n2401 AW\nEesergroen', datetime.date(1987, 2, 24), 'F'], ['976835149', 'Fay', 'Versluijs', 'F']]
[['037618428', 'Bart', 'Opmans', 'Madeliefsteeg 13\n4061 YF\nElsendorp', datetime.date(2010, 5, 1), 'M'], ['386547099', 'Zakaria', 'Westerbeek', 'M']]
[['736852104', 'Selina', 'Nek', 'Hannaweg 122\n2526YS\nPietersbierum', datetime.date(1974, 7, 29), 'F'], ['870156299', 'Philip', 'van der Linden', 'M']]
[['257034183', 'Rosa', 'de Smit', 'Emilysteeg 204\n4728 ZC\nBorculo', datetime.date(1987, 8, 27), 'F'], ['605981371', 'Esther', 'Driessen', 'F']]
[['650784194', 'Dylan', 'Louws', 'Maryamsteeg 98\n7398UB\nRhoon', datetime.date(1981, 11, 21), 'M'], ['462038750', 'Bryan', 'Kuiper', 'M']]
[['745310965', 'Jens', 'Kamper', 'Kayleighhof 1\n6071 NZ\nDodewaard', datetime.date(1920, 4, 20), 'M'], ['195704630', 'Esila', 'Jacquot', 'F']]
[['538947019', 'Ayoub', 'van der Heijden', 'Zoëdreef 969\n1010 CN\nDomburg', datetime.date(1958, 3, 15), 'M'], ['632098144', 'Aimée', 'Lucas', 'F']]
[['791453066', 'Floortje', 'Beijring', 'Jayring 812\n8998TP\nStroobos', datetime.date(1981, 5, 17), 'F'], ['470186537', 'Eliza', 'Bosch', 'F']]
[['238051493', 'Lex', 'de Vroege', 'Koenbaan 86\n2480GZ\nZwammerdam', datetime.date(1994, 1, 26), 'M'], ['794805218', 'Thomas', 'Haack', 'M']]
[['842609374', 'Norah', 'Poncelet', 'Stellasteeg 523\n8057UH\nHerwijnen', datetime.date(1963, 12, 4), 'F'], ['632098144', 'Aimée', 'Lucas', 'F']]
[['620478317', 'Luca', 'Haselaar', 'Fabiandreef 512\n8599 BX\nWommels', datetime.date(1999, 6, 4), 'M'], ['632098144', 'Aimée', 'Lucas', 'F']]
[['429381608', 'Alyssa', 'van Verdun', 'Robinsingel 47\n7950GG\nVredenheim', datetime.date(2012, 12, 26), 'F'], ['470186537', 'Eliza', 'Bosch', 'F']]
[['627941588', 'Evie', 'Wipstrik', 'Tessadreef 046\n1860SV\nLinschoten', datetime.date(1961, 6, 18), 'F'], ['386547099', 'Zakaria', 'Westerbeek', 'M']]
[['024736892', 'Boaz', 'Huberts', 'Noëllesteeg 9\n1734RN\nOdoorn', datetime.date(2016, 11, 21), 'M'], ['152873090', 'Raf', 'Meyer', 'M']]
[['789541233', 'Tijs', 'Willems van Lier', 'Tygoweg 36\n6695CB\nGeesbrug', datetime.date(1933, 12, 22), 'M'], ['632098144', 'Aimée', 'Lucas', 'F']]
[['652487038', 'Thomas', 'de Swart', 'Aaronring 894\n1610XJ\nBroekhuizen', datetime.date(1965, 1, 6), 'M'], ['574891365', 'Elin', 'Goyaerts van Waderle', 'F']]
[['736598017', 'Jip', 'Mens', 'Aliboulevard 400\n8781KS\nVeenoord', datetime.date(1924, 6, 21), 'M'], ['571439627', 'Carlijn', 'Tirie', 'F']]
[['976512804', 'Renske', 'van der Loo', 'Milanbaan 5\n6524 WR\nKerkdriel', datetime.date(1956, 11, 2), 'F'], ['195704630', 'Esila', 'Jacquot', 'F']]
[['547918069', 'Bas', 'van Bovene', 'Svenring 12\n5904 RL\nFeanwâlden', datetime.date(1908, 6, 1), 'M'], ['516820473', 'Luke', 'Geldens', 'M']]
[['360147525', 'Hannah', 'Lagerweij', 'Mayastraat 11\n4808 UR\nOverslag', datetime.date(1953, 10, 6), 'F'], ['687529414', 'Elif', 'den Haag', 'F']]
[['419653077', 'Ceylin', 'Gerritsen', 'Julieboulevard 50\n2959YW\nMaastricht-Airport', datetime.date(1908, 3, 11), 'F'], ['870156299', 'Philip', 'van der Linden', 'M']]
[['968432104', 'Elizabeth', 'van der Berg', 'Finndreef 365\n8599MQ\nAmbt Delden', datetime.date(2006, 12, 11), 'F'], ['792304810', 'Eline', 'Kort', 'F']]
[['803416799', 'Catharina', 'van Goerle', 'Ameliastraat 70\n4945 UE\nWesteremden', datetime.date(2007, 8, 25), 'F'], ['235679410', 'Beau', 'Willems van Lier', 'M']]

In [ ]:
from faker import Faker
import numpy as np
employeelist = []
listemployees = []
fake = Faker('nl_NL')
for i in range (0,30):
  employee = Faker('nl_NL')
  gender = np.random.choice(["M", "F", "NB"], p=[0.49, 0.49, 0.02])
  if gender == "M":
    employee.firstname = fake.first_name_male 
  elif gender == "F":
    employee.firstname = fake.first_name_female
  else:
    employee.firstname = fake.first_name_nonbinary
  #Create a list with the needed information on the GP
  employeelist.append(employee.unique.ssn())
  employeelist.append(employee.unique.firstname())
  employeelist.append(employee.unique.last_name())
  employeelist.append(employee.unique.email())
  joboption = np.random.choice(["T", "A"], p=[0.7,0.3])
  if joboption == "T":
    employee.job = "Tester"
  else:
    employee.job = "Analyst"
  employeelist.append(employee.job)
  listemployees.append(employeelist.copy())
  employeelist.clear()
for n in listemployees[0:10]:
  print(n)

['097256146', 'Sofia', 'Strijker', 'bpersijn@example.com', 'Analyst']
['389410767', 'Rosa', 'van Kasteelen', 'ilseoversteeg@example.net', 'Tester']
['734680259', 'Maryam', 'Voortman', 'daschman@example.com', 'Tester']
['170659288', 'Abel', 'Bruijne van der Veen', 'mathieunick@example.org', 'Tester']
['576293040', 'Pleun', 'Jones', 'van-saksenevi@example.net', 'Tester']
['564213901', 'Bas', 'de Pauw', 'corstiaensjoep@example.org', 'Analyst']
['256734082', 'Aaliyah', 'Willems', 'grootezoe@example.org', 'Tester']
['536418299', 'Dana', 'van Doorn', 'imarchand@example.net', 'Tester']
['147358061', 'Mika', 'Rek', 'fkoret@example.com', 'Tester']
['970543219', 'Lot', 'Tins', 'sander95@example.com', 'Analyst']

In [ ]:
from faker import Faker
class Biolab:
  def __init__(lab, name, employees):
    lab.name = name
    lab.employees = listemployees

bl = Biolab("primlab", listemployees)
print(bl.employees)

[['097256146', 'Sofia', 'Strijker', 'bpersijn@example.com', 'Analyst'], ['389410767', 'Rosa', 'van Kasteelen', 'ilseoversteeg@example.net', 'Tester'], ['734680259', 'Maryam', 'Voortman', 'daschman@example.com', 'Tester'], ['170659288', 'Abel', 'Bruijne van der Veen', 'mathieunick@example.org', 'Tester'], ['576293040', 'Pleun', 'Jones', 'van-saksenevi@example.net', 'Tester'], ['564213901', 'Bas', 'de Pauw', 'corstiaensjoep@example.org', 'Analyst'], ['256734082', 'Aaliyah', 'Willems', 'grootezoe@example.org', 'Tester'], ['536418299', 'Dana', 'van Doorn', 'imarchand@example.net', 'Tester'], ['147358061', 'Mika', 'Rek', 'fkoret@example.com', 'Tester'], ['970543219', 'Lot', 'Tins', 'sander95@example.com', 'Analyst'], ['490873510', 'Bjorn', 'Willemsen', 'de-vriesalexander@example.com', 'Analyst'], ['965204133', 'Sarah', 'de Graaf', 'bmaas@example.org', 'Tester'], ['671924503', 'Ben', 'Borman', 'hailey08@example.net', 'Tester'], ['840635722', 'Riley', 'Osterhoudt', 'dean04@example.com', 'Analyst'], ['368495711', 'Naomi', 'van Salmen', 'keckhardt@example.org', 'Tester'], ['052674137', 'Cornelia', 'van Liendert', 'recersquinn@example.org', 'Tester'], ['134029677', 'Bram', 'Neuzerling', 'maxbeekman@example.net', 'Tester'], ['903157640', 'Job', 'Bosch', 'lynnle-gulcher@example.org', 'Analyst'], ['859124034', 'Morris', 'Lijn', 'jaylinn12@example.org', 'Tester'], ['978106428', 'Lara', 'van Wessex', 'liekekeijser@example.org', 'Tester'], ['735468199', 'Isabelle', 'Tuithof', 'gielvan-der-flaas@example.org', 'Analyst'], ['405731899', 'Liz', 'Kort', 'van-waasties@example.com', 'Tester'], ['493271806', 'Liza', 'Vallenduuk', 'nienke47@example.com', 'Analyst'], ['479836024', 'Fenna', 'Fredriks', 'rik29@example.com', 'Tester'], ['920587343', 'Adriana', 'Heerschop', 'emmentijmen@example.com', 'Tester'], ['693250781', 'Tijs', 'Suijker', 'van-ginkelemma@example.com', 'Tester'], ['849061738', 'Imran', "d' Heripon", 'van-klaarwatermark@example.net', 'Tester'], ['867254312', 'Vajèn', 'Meeusen', 'ndirksen@example.com', 'Analyst'], ['691803420', 'Fiene', 'Kramer', 'lindnathan@example.net', 'Tester'], ['860957329', 'Lukas', 'Goderts', 'marchandsimon@example.com', 'Analyst']]

In [ ]:
listcoalgulator = ["none","Sodium Fluoride", "EDTA", "3.2% Sodium Citrate", "Heparin", "Citrate", "(K2)EDTA", "EDTA/plain"]
colourlist = ["Red", "Grey", "Purple", "Light Blue", "Green", "Yellow", "Pink", "Dark blue"]
class Testcolour:
  def __init__ (colour, name, coalgulator, ID):
    colour.name = colourlist[i]
    colour.coalgulator = listcoalgulator[i]
    colour.id = i
  def __str__ (colour):
    return "Colour [name=%s, coagulator=%s]"%(colour.name, colour.coalgulator)
#Testcolour = Testcolourclass(colourlist[i], listcoalgulator[i],i)
for i in range (0,8):
  print(Testcolour(i, colourlist[i], listcoalgulator[i]))

Colour [name=Red, coagulator=none]
Colour [name=Grey, coagulator=Sodium Fluoride]
Colour [name=Purple, coagulator=EDTA]
Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]
Colour [name=Green, coagulator=Heparin]
Colour [name=Yellow, coagulator=Citrate]
Colour [name=Pink, coagulator=(K2)EDTA]
Colour [name=Dark blue, coagulator=EDTA/plain]

In [ ]:
from faker import Faker
import numpy as np
TestTubeAttributes = []
TestTubes =[]
listOfNumbers = []
nonUniqueNumbers = []
for x in range (0, 4001):
    listOfNumbers.append(random.randint(100000000000, 999999999999))
for n in range (0,1500):
  p = random.randint(0,4000)
  if listOfNumbers[p] not in nonUniqueNumbers:
    barcode = listOfNumbers[p]
    nonUniqueNumbers.append(barcode)
  else:
    p = random.randint(0,4000)
  #TestTubeAttributes.append(n)
  TestTubeAttributes.append(barcode)
  i = random.randint(0,7)
  TestTubeAttributes.append(str(Testcolour(i, colourlist[i], listcoalgulator[i])))
  emergency = np.random.choice(["True", "False"], p=(0.1, 0.9))
  TestTubeAttributes.append(emergency)
  TestTubes.append(TestTubeAttributes.copy())
  TestTubeAttributes.clear()
for p in TestTubes[0:10]:
  print(p)

[293099968863, 'Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]', 'False']
[714038878349, 'Colour [name=Purple, coagulator=EDTA]', 'False']
[397784069777, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False']
[320600627490, 'Colour [name=Pink, coagulator=(K2)EDTA]', 'False']
[264645457320, 'Colour [name=Green, coagulator=Heparin]', 'False']
[665150542753, 'Colour [name=Pink, coagulator=(K2)EDTA]', 'False']
[140840823731, 'Colour [name=Purple, coagulator=EDTA]', 'False']
[617109344220, 'Colour [name=Dark blue, coagulator=EDTA/plain]', 'False']
[240098855841, 'Colour [name=Yellow, coagulator=Citrate]', 'False']
[152849722202, 'Colour [name=Pink, coagulator=(K2)EDTA]', 'False']

In [ ]:
import datetime
import random
datematch = []
datematchattributes = []
i = 0
start_date = datetime.datetime(2020, 1, 1, 0, 0, 0)
end_date = datetime.datetime(2022, 6, 1, 23, 59, 59)

for i in range (0,1500):
  time_between_dates = end_date - start_date
  seconds_between_dates = time_between_dates.total_seconds()
  random_number_of_seconds = random.randrange(seconds_between_dates)
  two_hours_max = random.randrange(7200)
  two_hours_min = random.randrange(7200,1209600)
  time_to_result = random.randrange(259200,432000)
  random_date1 = start_date + datetime.timedelta(seconds=random_number_of_seconds)
  random_date2 = random_date1 + datetime.timedelta(seconds=two_hours_max)
  if "True" in TestTubes[i]:
    random_date3 = random_date2 + datetime.timedelta(seconds=two_hours_max)
  else:
    random_date3 = random_date2 + datetime.timedelta(seconds=two_hours_min)
  random_date4 = random_date3 + datetime.timedelta(seconds=time_to_result)
  datematchattributes.append([i, str(random_date1), str(random_date2), str(random_date3), str(random_date4)])
  datematch.append(datematchattributes.copy())
  datematchattributes.clear()
  i = i +1
for q in datematch[0:30]:
  print(q)

[[0, '2021-05-09 14:13:47', '2021-05-09 15:22:55', '2021-05-17 17:43:40', '2021-05-22 14:30:08']]
[[1, '2022-05-26 07:03:17', '2022-05-26 07:06:55', '2022-06-09 03:48:47', '2022-06-13 18:44:04']]
[[2, '2020-08-02 17:06:34', '2020-08-02 17:48:44', '2020-08-12 10:04:57', '2020-08-16 23:26:09']]
[[3, '2022-05-17 20:08:46', '2022-05-17 21:42:49', '2022-05-19 20:00:39', '2022-05-23 08:53:19']]
[[4, '2020-01-26 16:21:58', '2020-01-26 18:06:45', '2020-02-06 20:28:06', '2020-02-10 09:23:11']]
[[5, '2020-04-28 13:27:51', '2020-04-28 15:02:20', '2020-05-05 13:52:55', '2020-05-08 17:15:05']]
[[6, '2021-11-07 05:52:16', '2021-11-07 06:11:01', '2021-11-17 02:40:52', '2021-11-21 05:16:48']]
[[7, '2020-12-27 22:25:52', '2020-12-27 22:36:51', '2021-01-04 19:39:53', '2021-01-09 04:11:56']]
[[8, '2021-03-07 21:25:14', '2021-03-07 22:35:54', '2021-03-15 11:17:03', '2021-03-19 07:14:11']]
[[9, '2021-06-23 19:46:01', '2021-06-23 21:20:02', '2021-07-07 01:37:53', '2021-07-11 05:12:12']]
[[10, '2022-04-19 17:45:11', '2022-04-19 18:52:07', '2022-04-19 19:59:03', '2022-04-23 08:25:31']]
[[11, '2020-04-15 10:03:03', '2020-04-15 11:46:48', '2020-04-21 18:57:15', '2020-04-25 13:53:26']]
[[12, '2021-11-13 17:27:46', '2021-11-13 18:13:15', '2021-11-20 21:46:12', '2021-11-25 01:41:04']]
[[13, '2021-02-28 15:02:40', '2021-02-28 15:56:25', '2021-03-12 02:09:34', '2021-03-17 02:04:45']]
[[14, '2020-09-04 20:18:38', '2020-09-04 21:35:48', '2020-09-04 22:52:58', '2020-09-09 10:13:46']]
[[15, '2022-01-10 19:53:30', '2022-01-10 20:56:57', '2022-01-18 00:10:13', '2022-01-21 03:06:23']]
[[16, '2021-01-04 17:23:55', '2021-01-04 17:26:16', '2021-01-07 00:34:43', '2021-01-10 04:11:03']]
[[17, '2021-11-09 18:36:21', '2021-11-09 19:55:10', '2021-11-22 05:50:49', '2021-11-27 00:50:48']]
[[18, '2021-07-22 02:32:40', '2021-07-22 03:29:06', '2021-08-03 18:16:35', '2021-08-07 20:59:04']]
[[19, '2020-12-11 07:20:04', '2020-12-11 07:27:45', '2020-12-11 07:35:26', '2020-12-16 00:42:08']]
[[20, '2020-05-08 17:06:30', '2020-05-08 17:08:15', '2020-05-10 21:35:57', '2020-05-15 00:32:59']]
[[21, '2021-11-27 15:13:16', '2021-11-27 16:37:49', '2021-11-30 20:19:27', '2021-12-04 00:59:54']]
[[22, '2020-06-21 22:55:49', '2020-06-21 23:10:37', '2020-06-27 19:28:39', '2020-07-01 10:38:24']]
[[23, '2020-01-15 04:17:28', '2020-01-15 04:50:49', '2020-01-15 17:26:19', '2020-01-18 20:12:51']]
[[24, '2021-07-08 15:52:01', '2021-07-08 17:50:19', '2021-07-16 05:12:23', '2021-07-21 05:00:33']]
[[25, '2020-07-24 14:17:54', '2020-07-24 15:32:45', '2020-08-04 20:39:12', '2020-08-08 23:49:58']]
[[26, '2020-11-05 19:06:44', '2020-11-05 19:25:37', '2020-11-06 20:50:17', '2020-11-10 15:56:54']]
[[27, '2021-06-29 17:09:38', '2021-06-29 18:50:02', '2021-07-03 20:55:06', '2021-07-08 16:06:42']]
[[28, '2021-08-15 15:42:43', '2021-08-15 17:30:48', '2021-08-27 02:47:44', '2021-08-30 20:51:49']]
[[29, '2020-01-16 06:00:47', '2020-01-16 08:00:43', '2020-01-28 01:18:44', '2020-02-02 01:17:47']]

In [ ]:
import random
dataset2 = []
tester = []
analyst = []
for i in range (0,30):
  if "Tester" in listemployees[i]:
    tester.append(listemployees[i])
  else:
    analyst.append(listemployees[i])
  i = i+1
print(analyst)

[['097256146', 'Sofia', 'Strijker', 'bpersijn@example.com', 'Analyst'], ['564213901', 'Bas', 'de Pauw', 'corstiaensjoep@example.org', 'Analyst'], ['970543219', 'Lot', 'Tins', 'sander95@example.com', 'Analyst'], ['490873510', 'Bjorn', 'Willemsen', 'de-vriesalexander@example.com', 'Analyst'], ['840635722', 'Riley', 'Osterhoudt', 'dean04@example.com', 'Analyst'], ['903157640', 'Job', 'Bosch', 'lynnle-gulcher@example.org', 'Analyst'], ['735468199', 'Isabelle', 'Tuithof', 'gielvan-der-flaas@example.org', 'Analyst'], ['493271806', 'Liza', 'Vallenduuk', 'nienke47@example.com', 'Analyst'], ['867254312', 'Vajèn', 'Meeusen', 'ndirksen@example.com', 'Analyst'], ['860957329', 'Lukas', 'Goderts', 'marchandsimon@example.com', 'Analyst']]

In [ ]:
import random
dataset2 = []
for n in range (0,1500):
  q = random.randint(0,len(tester)-1)
  testperson = tester[q]
  tube = TestTubes[n]
  dataset2.append([tube, testperson])
  i = i+1
for n in dataset2[0:30]:
  print(n)

[[0, 601971841272, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False'], ['368495711', 'Naomi', 'van Salmen', 'keckhardt@example.org', 'Tester']]
[[1, 361865661536, 'Colour [name=Red, coagulator=none]', 'False'], ['405731899', 'Liz', 'Kort', 'van-waasties@example.com', 'Tester']]
[[2, 500862421994, 'Colour [name=Dark blue, coagulator=EDTA/plain]', 'False'], ['920587343', 'Adriana', 'Heerschop', 'emmentijmen@example.com', 'Tester']]
[[3, 930364824954, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False'], ['405731899', 'Liz', 'Kort', 'van-waasties@example.com', 'Tester']]
[[4, 206328068989, 'Colour [name=Green, coagulator=Heparin]', 'False'], ['052674137', 'Cornelia', 'van Liendert', 'recersquinn@example.org', 'Tester']]
[[5, 761312754903, 'Colour [name=Yellow, coagulator=Citrate]', 'False'], ['405731899', 'Liz', 'Kort', 'van-waasties@example.com', 'Tester']]
[[6, 150597292336, 'Colour [name=Yellow, coagulator=Citrate]', 'False'], ['479836024', 'Fenna', 'Fredriks', 'rik29@example.com', 'Tester']]
[[7, 598076128890, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'True'], ['859124034', 'Morris', 'Lijn', 'jaylinn12@example.org', 'Tester']]
[[8, 231372281151, 'Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]', 'False'], ['479836024', 'Fenna', 'Fredriks', 'rik29@example.com', 'Tester']]
[[9, 592489679307, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False'], ['693250781', 'Tijs', 'Suijker', 'van-ginkelemma@example.com', 'Tester']]
[[10, 576574078116, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False'], ['479836024', 'Fenna', 'Fredriks', 'rik29@example.com', 'Tester']]
[[11, 637323034175, 'Colour [name=Green, coagulator=Heparin]', 'False'], ['978106428', 'Lara', 'van Wessex', 'liekekeijser@example.org', 'Tester']]
[[12, 249597627669, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False'], ['920587343', 'Adriana', 'Heerschop', 'emmentijmen@example.com', 'Tester']]
[[13, 337472042254, 'Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]', 'False'], ['256734082', 'Aaliyah', 'Willems', 'grootezoe@example.org', 'Tester']]
[[14, 940874836328, 'Colour [name=Dark blue, coagulator=EDTA/plain]', 'False'], ['576293040', 'Pleun', 'Jones', 'van-saksenevi@example.net', 'Tester']]
[[15, 675490852862, 'Colour [name=Red, coagulator=none]', 'False'], ['849061738', 'Imran', "d' Heripon", 'van-klaarwatermark@example.net', 'Tester']]
[[16, 195766194433, 'Colour [name=Dark blue, coagulator=EDTA/plain]', 'False'], ['576293040', 'Pleun', 'Jones', 'van-saksenevi@example.net', 'Tester']]
[[17, 976545171201, 'Colour [name=Red, coagulator=none]', 'False'], ['256734082', 'Aaliyah', 'Willems', 'grootezoe@example.org', 'Tester']]
[[18, 435232709552, 'Colour [name=Pink, coagulator=(K2)EDTA]', 'False'], ['849061738', 'Imran', "d' Heripon", 'van-klaarwatermark@example.net', 'Tester']]
[[19, 269703841345, 'Colour [name=Yellow, coagulator=Citrate]', 'True'], ['576293040', 'Pleun', 'Jones', 'van-saksenevi@example.net', 'Tester']]
[[20, 829795559944, 'Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]', 'False'], ['479836024', 'Fenna', 'Fredriks', 'rik29@example.com', 'Tester']]
[[21, 792586170590, 'Colour [name=Dark blue, coagulator=EDTA/plain]', 'False'], ['256734082', 'Aaliyah', 'Willems', 'grootezoe@example.org', 'Tester']]
[[22, 995832954034, 'Colour [name=Green, coagulator=Heparin]', 'False'], ['389410767', 'Rosa', 'van Kasteelen', 'ilseoversteeg@example.net', 'Tester']]
[[23, 761576890819, 'Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]', 'False'], ['920587343', 'Adriana', 'Heerschop', 'emmentijmen@example.com', 'Tester']]
[[24, 568301543407, 'Colour [name=Grey, coagulator=Sodium Fluoride]', 'False'], ['389410767', 'Rosa', 'van Kasteelen', 'ilseoversteeg@example.net', 'Tester']]
[[25, 630702304931, 'Colour [name=Yellow, coagulator=Citrate]', 'False'], ['405731899', 'Liz', 'Kort', 'van-waasties@example.com', 'Tester']]
[[26, 897365411079, 'Colour [name=Light Blue, coagulator=3.2% Sodium Citrate]', 'False'], ['256734082', 'Aaliyah', 'Willems', 'grootezoe@example.org', 'Tester']]
[[27, 498072033831, 'Colour [name=Purple, coagulator=EDTA]', 'True'], ['170659288', 'Abel', 'Bruijne van der Veen', 'mathieunick@example.org', 'Tester']]
[[28, 948629063582, 'Colour [name=Red, coagulator=none]', 'False'], ['134029677', 'Bram', 'Neuzerling', 'maxbeekman@example.net', 'Tester']]
[[29, 394916378885, 'Colour [name=Purple, coagulator=EDTA]', 'False'], ['734680259', 'Maryam', 'Voortman', 'daschman@example.com', 'Tester']]

In [ ]:
firstdate = []
for i in range (0,1500):
    firstdate.append("Contact with GP")
    firstdate.append(datematch.random_date1)
    if dataset1.patient in dataset2.patient2:
      firstdate.append(dataset1)
i = i+1
for q in firstdate[0:30]:
  print(q)

AttributeError: ignored

In [ ]:
#Import Faker
from faker import Faker
#Import JSON
import json
 
#Declare faker onject
fake = Faker()
 
#Define function to generate fake data and store into a JSON file
def generate_data(records):
    #Declare an empty dictionary
    patient ={}
    #Iterate the loop based on the input value and generate fake data
    for n in range(0, records):
        patient[n]={}
        patient[n]['id']= fake.random_number(digits=5)
        patient[n]['gender'] = np.random.choice(["M", "F", "NB"], p=[0.49, 0.49, 0.02])
        if gender == "M":
          patient[n]['first name']= fake.first_name_male()
        elif gender == "F":
          patient[n]['first name']= fake.first_name_female
        else:
          patient[n]['first name']= fake.first_name_nonbinary
        patient[n]['last name'] = fake.last_name()
        patient[n]['address']= fake.address()
        #patient[n]['email']= str(fake.email())
        #patient[n]['phone']= str(fake.phone_number())
        patient[n]['Birth Date'] =str(fake.date_of_birth())
    #Write the data into the JSON file
    with open('patient.json', 'w') as fp:
        json.dump(patient, fp)
 
    print("File has been created.")
 
#Take the number of records from the user
num = int(input("Enter the number of records:"))
#Call the function to generate fake records and store into a json file
generate_data(num)

Enter the number of records:10
File has been created.